.item{
    display: flex;
    align-items: center;
    width: 950px;
    background-color: rgb(178, 231, 252);
    margin-bottom: 40px;
    padding: 20px 30px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}



.status{
    width: 30px;
    height: 30px;
    margin-right: 100px;
    background-color: gray;
    border-radius: 100%;
}

.true{
    background-color: green;
}

.false{
    background-color: red;
}

.avatar{
    width:200px;
    margin-right: 50px;
}