.statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: rgb(169, 198, 236);
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
}
.title { 
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}